# IDE
.vscode/
.idea/
inspectionProfiles/

# Build
tags
builddir/
bluechi.spec
rpmbuild/
artifacts/
build-scripts/RELEASE

## python build artifacts
build/
dist/
bluechi.egg-info/

# Integration test
bluechi-rpms/
__pycache__/
## virtual env directories
env/
.venv/
venv/
