[submodule "subprojects/hashmap.c"]
	path = subprojects/hashmap.c
	url = https://github.com/eclipse-bluechi/hashmap.c.git
[submodule "subprojects/inih"]
	path = subprojects/inih
	url = https://github.com/benhoyt/inih.git
