#  SPDX-License-Identifier: LGPL-2.1-or-later
#
#  This file is part of bluechi.
#
[Unit]
Description=BlueChi Controller systemd service
Documentation=man:bluechi-controller(1) man:bluechi-controller.conf(5)
After=network.target

[Service]
Type=simple
ExecStart=/usr/libexec/bluechi-controller
Restart=on-failure

[Install]
WantedBy=multi-user.target
