#  SPDX-License-Identifier: LGPL-2.1-or-later
#
#  This file is part of bluechi-agent.
#
[Unit]
Description=BlueChi systemd service controller agent daemon
Documentation=man:bluechi-agent(1) man:bluechi-agent.conf(5)
After=network.target

[Service]
Type=simple
ExecStart=/usr/libexec/bluechi-agent

# Only restart bluechi-agent on events such as unexpected signals. The signals 
# SIGTERM and SIGINT are already handled internally by bluechi-agent.
# For an overview of exit causes triggering a restart see here:
# https://www.freedesktop.org/software/systemd/man/latest/systemd.service.html#Restart=
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
