[Unit]
Description=BlueChi Controller Socket
Documentation=man:bluechi-controller(1)

[Socket]
ListenStream=%t/bluechi/bluechi.sock
SocketMode=0666

[Install]
WantedBy=sockets.target
