#  SPDX-License-Identifier: LGPL-2.1-or-later
#
#  This file is part of bluechi.
#
[Unit]
Description=BlueChi Controller systemd service
Documentation=man:bluechi-controller(1) man:bluechi-controller.conf(5)
After=network.target

[Service]
Type=simple
ExecStart=/usr/libexec/bluechi-controller

# Only restart bluechi-controller on events such as unexpected signals. The signals 
# SIGTERM and SIGINT are already handled internally by bluechi-controller.
# For an overview of exit causes triggering a restart see here:
# https://www.freedesktop.org/software/systemd/man/latest/systemd.service.html#Restart=
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
