#  SPDX-License-Identifier: GPL-2.0-or-later
#
#  This file is part of hirte-agent.
#
[Unit]
Description=Hirte proxy service
Documentation=man:hirte-proxy(1)
StopWhenUnneeded=yes

[Service]
ExecStart=hirte-proxy --user create %i.service
ExecStop=hirte-proxy --user remove %i.service
RemainAfterExit=yes
Type=oneshot
KillMode=mixed
