#  SPDX-License-Identifier: GPL-2.0-or-later
#
#  This file is part of hirte-agent.
#
[Unit]
Description=Hirte systemd service controller agent daemon
Documentation=man:hirte-agent(1) man:hirte-agent.conf(5)
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/hirte-agent
ExecReload=gdbus call --system --dest org.containers.hirte \
 --method org.containers.hirte.AGENT.ReloadConfig --object-path /org/containers/hirte 
Restart=on-failure

[Install]
WantedBy=multi-user.target
