#  SPDX-License-Identifier: GPL-2.0-or-later
#
#  This file is part of hirte.
#
[Unit]
Description=Hirte systemd service controller manager daemon
Documentation=man:hirte(1) man:hirte.conf(5)
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/hirte
ExecReload=gdbus call --system --dest org.containers.hirte \
 --method org.containers.hirte.Manager.ReloadConfig --object-path /org/containers/hirte 
Restart=on-failure

[Install]
WantedBy=multi-user.target
