#  SPDX-License-Identifier: GPL-2.0-or-later
#
#  This file is part of hirte-agent.
#
[Unit]
Description=Hirte service orchestrator agent daemon
Documentation=man:hirte-agent(1) man:hirte-agent.conf(5)
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/hirte-agent --user
