from __future__ import annotations

from typing import Callable, Tuple, Dict, List
from dasbus.typing import Bool, Double, Str, Int, Byte, Int16, UInt16, Int32, UInt32, Int64, UInt64, ObjPath, Structure

# File has been renamed to UnixFD in following PR included in v1.7
# https://github.com/rhinstaller/dasbus/pull/70
try:
    from dasbus.typing import File
except ImportError:
    from dasbus.typing import UnixFD

from dasbus.client.proxy import InterfaceProxy, ObjectProxy
from dasbus.connection import MessageBus, SystemMessageBus, SessionMessageBus

import gi
gi.require_version("GLib", "2.0")
from gi.repository.GLib import Variant  # noqa: E402
