
BLUECHI_DEFAULT_PORT = 842
BLUECHI_DEFAULT_HOST = "127.0.0.1"

BLUECHI_DBUS_INTERFACE = "io.github.eclipse-bluechi.bluechi"
BLUECHI_OBJECT_PATH = "/io/github/eclipse_bluechi/bluechi"
BLUECHI_AGENT_DBUS_INTERFACE = "io.github.eclipse-bluechi.bluechi.Agent"
