
class Job(ApiBase):
    """
    {{ iface_doc }}
    """
    
    def __init__(self, job_path: ObjPath, bus: MessageBus = None, use_systembus=True) -> None:
        super().__init__(BC_DBUS_INTERFACE, job_path, bus, use_systembus)

        self.job_path = job_path

    {%- include 'skeleton_method.tmpl' %}
    {%- include 'skeleton_signal.tmpl' %}
    {%- include 'skeleton_property.tmpl' %}
