
class Manager(ApiBase):

    def __init__(self, bus: MessageBus = None, use_systembus=True) -> None:
        super().__init__(bus, use_systembus)

        self.manager_proxy = None

    def get_proxy(self) -> InterfaceProxy | ObjectProxy:
        if self.manager_proxy is None:
            self.manager_proxy = self.bus.get_proxy(
                BC_DBUS_INTERFACE,
                BC_OBJECT_PATH
            )

        return self.manager_proxy

    {% include 'skeleton_method.tmpl' %}
    {% include 'skeleton_signal.tmpl' %}
    {% include 'skeleton_property.tmpl' %}
