
class Monitor(ApiBase):

    def __init__(self, monitor_path: ObjPath, bus: MessageBus = None, use_systembus=True) -> None:
        super().__init__(bus, use_systembus)

        self.monitor_path = monitor_path
        self.monitor_proxy = None
    
    def get_proxy(self) -> InterfaceProxy | ObjectProxy:
        if self.monitor_proxy is None:
            self.monitor_proxy = self.bus.get_proxy(
                HIRTE_DBUS_INTERFACE,
                self.monitor_path
            )
        
        return self.monitor_proxy
    
    {%- include 'skeleton_method.tmpl' %}
    {%- include 'skeleton_signal.tmpl' %}
    {%- include 'skeleton_property.tmpl' %}
