
class Monitor(ApiBase):
    """
    {{ iface_doc }}
    """
    
    def __init__(self, monitor_path: ObjPath, bus: MessageBus = None, use_systembus=True) -> None:
        super().__init__(BC_DBUS_INTERFACE, monitor_path, bus, use_systembus)

        self.monitor_path = monitor_path

    {%- include 'skeleton_method.tmpl' %}
    {%- include 'skeleton_signal.tmpl' %}
    {%- include 'skeleton_property.tmpl' %}
