
class Node(ApiBase):
    """
    {{ iface_doc }}
    """
    
    def __init__(self, node_name: str, bus: MessageBus = None, use_systembus=True) -> None:
        # set empty node path temporary, needs to be resolved after the bus has been set
        super().__init__(BC_DBUS_INTERFACE, "", bus, use_systembus)

        controller = self.bus.get_proxy(
                BC_DBUS_INTERFACE,
                BC_OBJECT_PATH
            )
        self.object_path = controller.GetNode(node_name)

        self.node_name = node_name

    {%- include 'skeleton_method.tmpl' %}
    {%- include 'skeleton_signal.tmpl' %}
    {%- include 'skeleton_property.tmpl' %}
