

    {% for property in properties -%}
        {%- for access in property.access -%}
        {%- if access == "read" -%}
        @property
    def {{ property.pyname }}(self) -> {{ property.pytype }}:
        """
        {{ property.inline_doc }}
        """
        return self.get_proxy().{{ property.name }}
        {%- endif -%}
        {% endfor %}
    {% endfor %}
