
## <summary>policy for hirte</summary>

########################################
## <summary>
##	Execute hirte_exec_t in the hirte domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`hirte_domtrans',`
	gen_require(`
		type hirte_t, hirte_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, hirte_exec_t, hirte_t)
')

######################################
## <summary>
##	Execute hirte in the caller domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`hirte_exec',`
	gen_require(`
		type hirte_exec_t;
	')

	corecmd_search_bin($1)
	can_exec($1, hirte_exec_t)
')

########################################
## <summary>
##	Execute hirte_agent_exec_t in the hirte_agent domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`hirte_agent_domtrans',`
	gen_require(`
		type hirte_agent_t, hirte_agent_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, hirte_agent_exec_t, hirte_agent_t)
')

######################################
## <summary>
##	Execute hirte_agent in the caller domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`hirte_agent_exec',`
	gen_require(`
		type hirte_agent_exec_t;
	')

	corecmd_search_bin($1)
	can_exec($1, hirte_agent_exec_t)
')
