on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    name: cs9-build
    runs-on: ubuntu-latest
    container:
      image: quay.io/centos/centos:stream9

    steps:
    - name: Install dependencies
      run: |
        dnf install \
                gcc \
                make \
                systemd-devel \
            -y

    - name: Checkout sources
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
        # Use githash of a tested commit instead of merge commit
        ref: ${{ github.event.pull_request.head.sha }}

    - name: Build project
      run: |
        make build

    - name: Upload artifacts
      uses: actions/upload-artifact@v3
      with:
        name: artifacts
        path: "**/bin/*"

