name: Unit tests

on:
  push:
    branches: [main, hirte-*]
  pull_request:
    branches: [main, hirte-*]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: quay.io/bluechi/build-base:latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          submodules: 'true'

      - name: Building BlueChi (with clang/LLVM)
        run: |
          export CC=clang
          export CXX=clang++
          meson setup builddir
          meson configure builddir
          meson compile -C builddir
          rm -rf builddir

      - name: Building BlueChi
        run: |
          meson setup builddir
          meson configure \
              -Dwith_analyzer=true \
            builddir
          meson compile -C builddir

      - name: Running unit tests
        run: |
          meson test --wrap='valgrind --leak-check=full --error-exitcode=1 --track-origins=yes' -C builddir

      - name: Upload unit test logs
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: unit-test-logs
          path: ./builddir/meson-logs/testlog-valgrind.txt
